* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    background-color: rgb(170, 123, 57);
}
main {
    display:grid;
    grid-template-columns: 3fr 1fr;
    grid-template-areas: 
    "h h"
    "n n"
    "ar as"
    "f f";
}
header {
    grid-area: h;
    background-color: rgb(41, 21, 128);
}
nav {
    grid-area: n;
    background-color: aqua;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
}
article {
    grid-area: ar;
    background-color: blue;
}
article div {
    display: grid;
    grid-template-columns: repeat(4, 5fr);
    gap: 20px;
}
aside {
    grid-area: as;
    background-color: chartreuse;
}
footer {
    grid-area: f;
    background-color: brown;
}
ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    list-style: none;
}
.termekek {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
   }
.termekek img {
    width: 200px;
    height: auto;
}
h1 {
    font-size: calc( 8px + 2vw );
}
.termekek {
    padding: 12px;
}
@media screen and (max-width:800px) {

}

@media screen and (max-width:500px) {
    main {
        display:grid;
        grid-template-columns: 3fr 1fr;
        grid-template-areas: 
        "h"
        "n"
        "as"
        "ar"
        "f";
    }
}